<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>文档标题</title>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <script src="../../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>

    <link href="../../static/css/admin-default.css" th:href="@{/css/admin-default.css}" rel="stylesheet" />
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/admin-default.css}" href="../../static/css/admin-default.css">

    <link href="../../static/css/pe-icon-7-stroke.css" th:href="@{/css/pe-icon-7-stroke.css}" rel="stylesheet" />
    <link href="../../static/css/light-bootstrap-dashboard.css" th:href="@{/css/light-bootstrap-dashboard.css}" rel="stylesheet" />
    <link href="../../static/css/demo.css" th:href="@{/css/demo.css}" rel="stylesheet" />

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="sidebar" data-color="blue" th:fragment="sidebar (activeItem)">
    <!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Administrator
            </a>
        </div>

        <ul class="nav">
            <li data-item="index">
                <a th:href="@{/admin/}">
                    <i class="pe-7s-graph"></i>
                    <p class="nav-item">基本状态</p>
                </a>
            </li>
            <li data-item="frontend">
                <a href="user.html">
                    <i class="pe-7s-user"></i>
                    <p class="nav-item">前端控制</p>
                </a>
            </li>
            <li data-item="category">
                <a th:href="@{/admin/category}">
                    <i class="pe-7s-note2"></i>
                    <p class="nav-item">分类管理</p>
                </a>
            </li>
            <li data-item="products">
                <a href="typography.html">
                    <i class="pe-7s-news-paper"></i>
                    <p class="nav-item">商品管理</p>
                </a>
            </li>
            <li data-item="orders">
                <a href="icons.html">
                    <i class="pe-7s-science"></i>
                    <p class="nav-item">订单管理</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="pe-7s-map-marker"></i>
                    <p class="nav-item">用户管理</p>
                </a>
            </li>
            <li data-item="baseinfo">
                <a href="notifications.html">
                    <i class="pe-7s-bell"></i>
                    <p class="nav-item">网站基本信息</p>
                </a>
            </li>
            <li data-item="estinmation">
                <a href="estinmation.html">
                    <i class="pe-7s-bell"></i>
                    <p class="nav-item">评价管理</p>
                </a>
            </li>
        </ul>
    </div>
    <script th:inline="javascript">
        $(document).ready(function(){
            initSliderActive();
        })
        function initSliderActive(){
            var activeItem = [[${activeItem}]]
            if(activeItem == null){
                activeItem = "index";
            }
            var $willBeActiveItem = $("li[data-item="+activeItem+"]");
            $willBeActiveItem.addClass("active");
        }

    </script>
</div>
</body>
</html>